In [85]:
import os
import numpy as np
import csv
import pandas as pd
import nltk
import time
import re 

from bs4 import BeautifulSoup
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

In [86]:
cwd = os.getcwd()

In [87]:
df_test = pd.read_csv(os.path.join(cwd, 'reddit_test.csv'))
df_test.shape

(30000, 2)

In [89]:
df = pd.read_csv(os.path.join(cwd, 'reddit_train.csv'))
df.shape

(70000, 3)

## Remove URLs

In [91]:
def remove_html(text):
 
    text = re.sub(r"http\S+", "", text)
    return text

In [92]:
df['comments'] = df['comments'].apply(lambda x: remove_html(x))

In [93]:
df_test['comments'] = df_test['comments'].apply(lambda x: remove_html(x))

## Tokenizing, removing punctuation and everything to lower case

In [94]:
#Instantiate Tokenizer
tokenizer = RegexpTokenizer(r'\w+')

In [95]:
df['comments'] = df['comments'].apply(lambda x: tokenizer.tokenize(x.lower()))

In [96]:
df_test['comments'] = df_test['comments'].apply(lambda x: tokenizer.tokenize(x.lower()))

In [97]:
df_test.head()

   id                                           comments
0   0  [trout, and, bryant, have, both, led, the, lea...
1   1  [gt, just, like, estonians, have, good, reason...
2   2  [will, sol_primeval, sotp, being, oblivious, f...
3   3  [moving, ostwald, borders, back, to, the, pre,...
4   4  [you, have, to, take, it, out, of, the, bag, m...

## Removing Stop Words

In [98]:
stop_words = set(stopwords.words('english'))

In [99]:
def remove_stopwords(text):
    words = [ i for i in text if i not in stop_words]
    return words

In [100]:
df['comments'] = df['comments'].apply(lambda x: remove_stopwords(x))

In [101]:
df_test['comments'] = df_test['comments'].apply(lambda x: remove_stopwords(x))

## Lemmatizing

In [102]:
lemmatizer = WordNetLemmatizer()

def word_lemmatizer(text):
    lem_text = [lemmatizer.lemmatize(i) for i in text]
    return lem_text

In [103]:
df['comments'] = df['comments'].apply(lambda x: word_lemmatizer(x))

In [104]:
df_test['comments'] = df_test['comments'].apply(lambda x: word_lemmatizer(x))

In [107]:
def join_elements(text):
    string = ' '.join(text)
    return string

In [108]:
df['comments'] = df['comments'].apply(lambda x: join_elements(x))

In [109]:
df_test['comments'] = df_test['comments'].apply(lambda x: join_elements(x))

In [111]:
df.head()

   id                                           comments       subreddits
0   0  honestly buffalo correct answer remember peopl...           hockey
1   1  ah yes way could remember drafted thought gonn...              nba
2   2  find already nothing ordinary though eye const...  leagueoflegends
3   3  bad signing paid 18m euro right price would ac...           soccer
4   4  easy use piss dry technique let drop let dry r...            funny

In [112]:
df_test.to_csv('C:/Users/adamb/Desktop/COMP551 Applied Machine Learning/Project2/code/Preprocessed_Test.csv', index=False)

In [113]:
df.to_csv('C:/Users/adamb/Desktop/COMP551 Applied Machine Learning/Project2/code/Preprocessed_Train.csv', index=False)